<div class="side-items">
    <ul class="lists">
        <li>
        <a routerLinkActive="active" routerLink="customer">Customer</a>
        </li>
        <li>
        <a routerLinkActive="active" routerLink="payments">Payment</a>
        </li>
        <li>
        <a routerLinkActive="active" routerLink="invoices">Invoices</a>
        </li>
        <li>
        <a routerLinkActive="active" routerLink="loans">Loans</a>
        </li>
        <li>
        <a routerLinkActive="active" routerLink="audit-logs">Audit</a>
        </li>
        <li>
        <a routerLinkActive="active" routerLink="settings">Settings</a>
        </li>
    </ul>
</div>